/*FONT FACE*/
@font-face {
    font-family: 'YouBlockhead';
    src: url('YouBlockhead.eot');
    src: url('YouBlockhead.eot?#iefix') format('embedded-opentype'),
        url('YouBlockhead.woff') format('woff'),
        url('YouBlockhead.ttf') format('truetype'),
        url('YouBlockhead.svg#YouBlockhead') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*MEDIA SCREEN VARIABLES*/

/*media screen*/
$screen-desktopWide: 1920px;
$screen-desktop: 1440px;
$screen-tablet: 1080px;
$screen-mobileWide: 768px;
$screen-mobileMedium: 640px;
$screen-mobile: 500px;
$screen-mobileSmall: 400px;

/*normal*/
$gridWidth: 100px;
$gridHeight: 100px;
$gridGap: 15px;
$gridCol: 16;
$gridGtc: $gridWidth $gridWidth $gridWidth $gridWidth $gridWidth $gridWidth $gridWidth $gridWidth $gridWidth $gridWidth $gridWidth $gridWidth $gridWidth $gridWidth $gridWidth $gridWidth;

/*screen-desktopWide*/
$gridColBigScreen: 12;
$gridDwGtc: $gridWidth $gridWidth $gridWidth $gridWidth $gridWidth $gridWidth $gridWidth $gridWidth $gridWidth $gridWidth $gridWidth $gridWidth;

/*screen-desktop*/
$gridColMediumScreen: 9;
$gridMediumWidth: 100px;
$gridMediumHeight: 100px;
$gridDGtc: $gridMediumWidth $gridMediumWidth $gridMediumWidth $gridMediumWidth $gridMediumWidth $gridMediumWidth $gridMediumWidth $gridMediumWidth $gridMediumWidth;

/*screen-tablet*/
$gridColLowMediumScreen: 6;
$gridLowMediumWidth: 100px;
$gridLowMediumHeight: 100px;
$gridTGtc: $gridLowMediumWidth $gridLowMediumWidth $gridLowMediumWidth $gridLowMediumWidth $gridLowMediumWidth $gridLowMediumWidth;

/*screen-mobileWide*/
$gridColSmallScreen: 4;
$gridSmallWidth: 105px;
$gridSmallHeight: 105px;
$gridMwGtc: $gridSmallWidth $gridSmallWidth $gridSmallWidth $gridSmallWidth;

/*screen-mobileMedium*/
$gridColSmallMediumScreen: 4;
$gridSmallMediumWidth: 95px;
$gridSmallMediumHeight: 95px;
$gridMwMGtc: $gridSmallMediumWidth $gridSmallMediumWidth $gridSmallMediumWidth $gridSmallMediumWidth;

/*screen-mobile*/
$gridColSmallMiniScreen: 3;
$gridSmallMiniWidth: 92px;
$gridSmallMiniHeight: 92px;
$gridMGtc: $gridSmallMiniWidth $gridSmallMiniWidth $gridSmallMiniWidth;

/*END MEDIA SCREEN VARIABLES*/


/*MIXIN*/

@mixin respond($media) {
    @if $media==desktopWide {
        @media only screen and (max-width: $screen-desktopWide) {
            @content;
        }
    }
    @if $media==desktop {
        @media only screen and (max-width: $screen-desktop) {
            @content;
        }
    }
    @if $media==tablet {
        @media only screen and (max-width: $screen-tablet) {
            @content;
        }
    }
    @if $media==mobileWide {
        @media only screen and (max-width: $screen-mobileWide) {
            @content;
        }
    }
    @if $media==mobileMedium {
        @media only screen and (max-width: $screen-mobileMedium) {
            @content;
        }
    }
    @if $media==mobile {
        @media only screen and (max-width: $screen-mobile) {
            @content;
        }
    }
    @if $media==mobileSmall {
        @media only screen and (max-width: $screen-mobileSmall) {
            @content;
        }
    }
}

@mixin gridRowCol($rowStart, $rowEnd, $colStart, $colEnd) {
    @if $rowStart{grid-row-start: $rowStart;}
    @if $rowEnd{grid-row-end: $rowEnd;}
    @if $colStart{grid-column-start: $colStart;}
    @if $colEnd{grid-column-end: $colEnd;}
}

/*MIXIN END */

body,
html {
    padding: 0;
    margin: 0;
}

body {
    padding-bottom: 60px;
}

html {
    background: url(bg.jpg) no-repeat center center fixed #025bd9;
    background-size: cover;
    @include respond(mobileWide){
        background: url(mobile-bg.png) no-repeat center center fixed #025bd9;
        background-size: cover;
    }
}

* {
    font-family: "YouBlockhead", serif;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
}

* {
    box-sizing: border-box;
}

.humoqRow {
    position: relative;
    display: block;
    width: 100%;
}

.humoqTitle {
    display: flex;
    font-size: 25px;
    color: #fff;
    margin: 50px 0 20px 0;
    text-transform: capitalize;
    @include respond(tablet){
        font-size: 16px;
    }
}

.humoqFixedMenu {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    transition: all 0.34s ease;
    padding: 15px 0;


    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .humoqLeftSection {
        display: flex;
        align-items: center;
        padding-right: 15px;
        .humoqLogo img{
            @include respond(desktop){
                width: 200px;
                height: auto;
            }
            @include respond(mobile){
                width: 180px;
                height: auto;
            }
        }
    }

    .humoqMenu {
        display: flex;
        justify-content: center;
        padding: 13px 20px;
        height: 68px;
        background-color: rgba(255, 255, 255, 0.35);
        border-radius: 10px;
        border-top-left-radius: 0;
        margin-left: 20px;
        font-size: 16px;

        .humoqActiveMenu {
            li {
                background-color: #fee043;
            }
        }

        @include respond(tablet){
            display: none;
        }

        @include respond(desktopWide){
            font-size: 12px
        }

        @include respond(desktop){
            font-size: 10px;
            padding: 10px 10px;
            height: 55px;
        }

        a {
            text-decoration: none;
        }

        li {
            color: #00459c;
            min-width: 80px;
            text-align: center;
            padding: 10px 12px;
            background: #fff;
            margin: 0 3px;
            border-radius: 10px;
            border-top-left-radius: 0;
            transition: all 0.34s ease;
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);

            @include respond(desktop){
                padding: 10px 6px;
            }

            &:hover {
                background: #00459c;
                color: #fff;
            }

        }

    }

    .humoqMobileMenu {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        display: none;
        background-color: rgba(255, 255, 255, 0.35);

        @include respond(tablet){
            display: block;
        }

        @include respond(mobileWide){
            display: none;
        }

        .humoqMenu {
            display: flex;
            justify-content: center;
            padding: 10px 10px;
            margin: 0;
            border-radius: 0;
            background: transparent;

            li {
                margin: 0 5px;
            }

            @include respond(mobileWide){
                justify-content: left;
            }
        }
        

    }

    .humoqSearch {
        display: flex;
        justify-content: flex-end;
        height: 68px;
        background-color: #fff;
        border-radius: 10px;
        border-top-left-radius: 0;
        align-items: center;
        padding: 0 10px;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);

        @include respond(desktop){
            height: 55px;
        }

        @include respond(mobileWide){
            height: 50px;
        }

        li {
            margin: 0 5px;
            cursor: pointer;

            .icon-home {
                width: 34.5px;
                height: 32.5px;
                background: url(icon-home.svg);
                background-size: contain;
                background-repeat: no-repeat;

                @include respond(desktop){
                    width: 26.5px;
                    height: 26.5px;
                }
            }

            .icon-search {
                width: 34.5px;
                height: 32.5px;
                background: url(icon-search.svg);
                background-size: contain;
                background-repeat: no-repeat;

                @include respond(desktop){
                    width: 26.5px;
                    height: 26.5px;
                }
            }
        }
    }
}

.container {
    margin: 0 auto;
    position: relative;
    width: ($gridWidth * $gridCol) + ($gridGap * $gridCol) - $gridGap;

    @include respond(desktopWide){
        width: ($gridWidth * $gridColBigScreen) + ($gridGap * $gridColBigScreen) - $gridGap;
    }

    @include respond(desktop){
        width: ($gridMediumWidth * $gridColMediumScreen) + ($gridGap * $gridColMediumScreen) - $gridGap;
    }

    @include respond(tablet){
        width: ($gridLowMediumWidth * $gridColLowMediumScreen) + ($gridGap * $gridColLowMediumScreen) - $gridGap;
    }

    @include respond(mobileWide){
        width: ($gridSmallWidth * $gridColSmallScreen) + ($gridGap * $gridColSmallScreen) - $gridGap;
    }

    @include respond(mobileMedium){
        width: ($gridSmallMediumWidth * $gridColSmallMediumScreen) + ($gridGap * $gridColSmallMediumScreen) - $gridGap;
    }

    @include respond(mobile){
        width: ($gridSmallMiniWidth * $gridColSmallMiniScreen) + ($gridGap * $gridColSmallMiniScreen) - $gridGap;
    }
}

.mobileHomeMenu{
    display: none;
    @include gridRowCol(1, 4, 1, 2);

    .humoqMenu{
        width: 100%;
    }

    &.menuDetail{
        @include gridRowCol(6, 9, 1, 2);

        @include respond(mobile){
            @include gridRowCol(5, 8, 1, 2);    
        }

    }

    &.menuCategory{
        @include respond(mobileWide){
            position: sticky;
            left: 0;
            top: 95px;
            width: 95px;
            z-index: 2;

            @include gridRowCol(inherit, inherit, inherit, inherit);

            @include respond(mobile){
                @include gridRowCol(inherit, inherit, inherit, inherit);    
            }
            .humoqMenu .buttonDownload li{
                padding-left: 32px;
                &::before{
                    right: 11px;
                }
            }
       }

    }

    @include respond(mobileWide){
        display: flex;
    }

    a {
        text-decoration: none;
    }

    li {
        position: relative;
        color: #00459c;
        min-width: 100%;
        text-align: center;
        font-size: 10px;
        padding: 10px 3px;
        background: #fff;
        margin-bottom: 8px;
        border-radius: 10px;
        border-top-left-radius: 0;
        transition: all 0.34s ease;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);

        @include respond(mobileWide){
            margin-bottom: 14px;
        }

        @include respond(mobileMedium){
            margin-bottom: 9px;
        }

        @include respond(mobile){
            margin-bottom: 7px;
        }

        &:hover {
            background: #00459c;
            color: #fff;
        }
    }

    .humoqActiveMenu {
        li {
            background-color: #fee043;
        }
    }
}

.humoqMenu .buttonDownload {
    &.mobile{
        display: none;
    }
    li {
        color: #fff;
        background: url(icon-download.png) #f34a87 no-repeat center left 10px !important;
        background-size: 26.5px 25px !important;
        padding-left: 45px;
        cursor: pointer;
        transition: none;
        @include respond(desktopWide){
            background-size: 22.5px 21px !important;
            padding-left: 40px;
        }
        @include respond(mobileWide){
            background-size: 20.5px 19px !important;
            background-position-x: 7px !important;
            word-break: break-all;
            padding-left: 36px;
            padding-right: 18px;
            text-align: left;
        }
        @include respond(mobileMedium){
            padding-left: 33px;
            padding-right: 16px;
        }
        @include respond(mobile){
            padding-left: 32px;
            padding-right: 14px;
        }
        &::before{
            content: "";
            position: absolute;
            width: 5px;
            height: 2px;
            background: #fff;
            right: 6px;
            top: 50%;
            transform: translateY(-50%);
            margin-top: -7px;
            display: none;
            @include respond(mobileWide){
                display: block;
                right: 15px;
            }
            @include respond(mobileMedium){
                right: 10px;
            }
            @include respond(mobile){
                right: 8px;
            }
        }
    }
}

.mobileCategoryScope{
    @include respond(mobileWide){
        width: 100%;
        padding-left: 110px;
        margin-top: -365px;
    }
    @include respond(mobileMedium){
        margin-top: -330px;
    }
    @include respond(mobile){
        margin-top: -310px;
    }
    .humoqTitle{
        @include respond(mobileWide){
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}


.humoqHomeWrapper {
    display: grid;
    width: 100%;
    grid-template-columns: $gridGtc;
    grid-auto-rows: $gridHeight;
    grid-gap: $gridGap;

    @include respond(desktopWide){
        grid-template-columns: $gridDwGtc;
    }

    @include respond(desktop){
        grid-template-columns: $gridDGtc;
        grid-auto-rows: $gridMediumHeight;
    }

    @include respond(tablet){
        grid-template-columns: $gridTGtc;
        grid-auto-rows: $gridLowMediumHeight;
    }

    @include respond(mobileWide){
        grid-template-columns: $gridMwGtc;
        grid-auto-rows: $gridSmallHeight;
    }

    @include respond(mobileMedium){
        grid-template-columns: $gridMwMGtc;
        grid-auto-rows: $gridSmallMediumHeight;
    }

    @include respond(mobile){
        grid-template-columns: $gridMGtc;
        grid-auto-rows: $gridSmallMiniHeight;
    }

    .humoqCol {
        display: flex;
        justify-content: center;
        overflow: hidden;
        border-radius: 10px;
        transition: all 0.34s ease;
        position: relative;
        background: #0279dc;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.20);

        img {
            transition: all 0.34s ease;
        }

        .humoqText {
            color: #fff;
            font-size: 9px;
            line-height: 1.5;
            padding: 10px 5px;
            position: absolute;
            width: 100%;
            height: auto;
            bottom: -100px;
            z-index: 5;
            background: rgba(0, 0, 0, 0.5);
            transition: all 0.34s ease;
            @include respond(tablet){
                font-size: 7px;
                line-height: 1.2;
            }
        }

        &:hover {
            transform: scale(1.1);
            z-index: 2;

            img {
                transform: scale(1.1);
            }

            .humoqText {
                bottom: 0;
            }
        }

        &.humoqCol-0 {
            @include gridRowCol(1, 4, 3, 6);
            font-size: 16px;
            @include respond(desktop){
                @include gridRowCol(1, 4, 2, 5);
            }
            @include respond(tablet){
                @include gridRowCol(1, 3, 2, 4);
            }
            @include respond(mobileWide){
                @include gridRowCol(1, 3, 2, 4);
            }
        }

        &.humoqCol-1 {
            @include gridRowCol(1, 3, 8, 10);
            font-size: 22px;
            @include respond(desktop){
                @include gridRowCol(false, false, 6, 8);
            }
            @include respond(tablet){
                @include gridRowCol(1, 3, 5, 7);
            }
            @include respond(mobileWide){
                @include gridRowCol(3, 5, 3, 5);
            }
            @include respond(mobile){
                @include gridRowCol(4, 6, 2, 4);
            }
        }

        &.humoqCol-2 {
            @include gridRowCol(1, 3, 10, 12);
            @include respond(desktopWide){
                @include gridRowCol(false, false, 10, 12);
            }
            @include respond(desktop){
                @include gridRowCol(false, false, 8, 10);
            }
            @include respond(tablet){
                @include gridRowCol(4, 6, 1, 3);
            }
            @include respond(mobileWide){
                @include gridRowCol(6, 8, 1, 3);
            }
        }

        &.humoqCol-3 {
            @include gridRowCol(1, 4, 12, 15);
            @include respond(desktopWide){
                @include gridRowCol(4, 6, 1, 3);
            }
            @include respond(tablet){
                @include gridRowCol(3, 5, 4, 6);
            }
            @include respond(mobileWide){
                @include gridRowCol(6, 8, 3, 5);
            }
            @include respond(mobile){
                @include gridRowCol(8, 10, 2, 4);
            }
        }
        
        &.humoqCol-4 {
            @include gridRowCol(4, 6, 1, 3);
            @include respond(desktopWide){
                @include gridRowCol(4, 6, 9, 11);
            }
            @include respond(desktop){
                @include gridRowCol(4, 6, 3, 5);
            }
            @include respond(tablet){
                @include gridRowCol(5, 7, 4, 6);
            }
            @include respond(mobileWide){
                @include gridRowCol(9, 11, 2, 4);
            }
            @include respond(mobile){
                @include gridRowCol(11, 13, 2, 4);
            }
        }

        &.humoqCol-5 {
            @include gridRowCol(4, 7, 6, 9);
            @include respond(desktop){
                @include gridRowCol(4, 7, 5, 8);
            }
            @include respond(tablet){
                @include gridRowCol(7, 9, 2, 4);
            }
            @include respond(mobileWide){
                @include gridRowCol(12, 14, 1, 3);
            }
            @include respond(mobile){
                @include gridRowCol(13, 15, 1, 3);
            }
        }

        &.humoqCol-6 {
            @include gridRowCol(4, 6, 11, 13);
            @include respond(desktop){
                @include gridRowCol(4, 6, 8, 10);
            }

            @include respond(tablet){
                @include gridRowCol(8, 10, 5, 7);
            }
            @include respond(mobileWide){
                @include gridRowCol(14, 16, 3, 5);
            }
            @include respond(mobile){
                @include gridRowCol(16, 18, 2, 4);
            }
        }

        &.humoqCol-7 {
            @include gridRowCol(6, 8, 11, 13);
            @include respond(desktop){
                @include gridRowCol(6, 8, 8, 10);
            }
            @include respond(tablet){
                @include gridRowCol(9, 11, 1, 3);
            }
            @include respond(mobileWide){
                @include gridRowCol(inherit, inherit, inherit, inherit);
            }
        }

        &.humoqCol-8 {
            @include gridRowCol(5, 7, 15, 17);
            @include respond(desktopWide){
                @include gridRowCol(9, 11, 11, 13);
            }
            @include respond(desktop){
                @include gridRowCol(false, false, 4, 6);
            }
            @include respond(tablet){
                @include gridRowCol(11, 13, 2, 4);
            }
            @include respond(mobileWide){
                @include gridRowCol(inherit, inherit, inherit, inherit);
            }
        }

        &.humoqCol-10 {
            @include gridRowCol(6, 9, 2, 5);
            @include respond(tablet){
                @include gridRowCol(11, 13, 4, 6);
            }
            @include respond(mobileWide){
                @include gridRowCol(inherit, inherit, inherit, inherit);
            }
        }

        &.humoqCol-9 {
            @include gridRowCol(8, 10, 7, 9);
            @include respond(desktop){
                @include gridRowCol(8, 10, 6, 8);
            }
            @include respond(tablet){
                @include gridRowCol(14, 16, 1, 3);
            }
            @include respond(mobileWide){
                @include gridRowCol(inherit, inherit, inherit, inherit);
            }
        }

        &.humoqCol-11 {
            @include gridRowCol(8, 10, 9, 11);
            @include respond(desktop){
                @include gridRowCol(8, 10, 8, 10);
            }
            @include respond(tablet){
                @include gridRowCol(14, 16, 5, 7);
            }
            @include respond(mobileWide){
                @include gridRowCol(inherit, inherit, inherit, inherit);
            }
        }

        &.humoqCol-12 {
            @include gridRowCol(9, 12, 13, 16);
            @include respond(desktopWide){
                @include gridRowCol(12, 14, 10, 12);
            }
            @include respond(desktop){
                @include gridRowCol(14, 17, 1, 4);
            }
            @include respond(tablet){
                @include gridRowCol(inherit, inherit, inherit, inherit);
            }
        }

        &.humoqCol-13 {
            @include gridRowCol(11, 13, 1, 3);
            @include respond(tablet){
                @include gridRowCol(inherit, inherit, inherit, inherit);
            }
        }

        &.humoqCol-14 {
            @include gridRowCol(11, 13, 3, 5);
            @include respond(tablet){
                @include gridRowCol(inherit, inherit, inherit, inherit);
            }
        }

        &.humoqCol-15 {
            @include gridRowCol(11, 14, 6, 9);
            @include respond(tablet){
                @include gridRowCol(inherit, inherit, inherit, inherit);
            }
        }

    }

    .humoqColDetails {
        display: flex;
        justify-content: center;
        overflow: hidden;
        border-radius: 10px;
        transition: all 0.34s ease;
        position: relative;
        background: #0279dc;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.20);

        img {
            transition: all 0.34s ease;
        }

        .humoqText {
            color: #fff;
            font-size: 9px;
            line-height: 1.5;
            padding: 10px 5px;
            position: absolute;
            width: 100%;
            height: auto;
            bottom: -100px;
            z-index: 5;
            background: rgba(0, 0, 0, 0.5);
            transition: all 0.34s ease;

            @include respond(tablet){
                font-size: 7px;
                line-height: 1.2;
            }
            
        }

        &:hover {
            transform: scale(1.1);
            z-index: 2;

            img {
                transform: scale(1.1);
            }

            .humoqText {
                bottom: 0;
            }
        }

        &.humoqCol-0 {
            @include gridRowCol(2, 4, 1, 3);
            @include respond(desktopWide){
                @include gridRowCol(inherit, inherit, inherit, inherit);
            }
        }

        &.humoqCol-1 {
            @include gridRowCol(6, 8, 1, 3);
            @include respond(desktopWide){
                @include gridRowCol(inherit, inherit, inherit, inherit);
            }
        }

        &.humoqCol-2 {
            @include gridRowCol(2, 4, 15, 17);
            @include respond(desktopWide){
                @include gridRowCol(inherit, inherit, inherit, inherit);
            }
        }

        &.humoqCol-3 {
            @include gridRowCol(6, 8, 15, 17);
            @include respond(desktopWide){
                @include gridRowCol(inherit, inherit, inherit, inherit);
            }
        }

    }

    .humoqColDetailsIframe {
        display: flex;
        justify-content: center;
        overflow: hidden;
        position: relative;
        background: #0279dc;
        padding-bottom: 50px;
        box-shadow: 0px 0px 4px 2px rgb(0 0 0 / 20%);

        @include respond(mobileWide){
            border-radius: 15px;
        }

        iframe.fullscreen{
            position: fixed;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
            z-index: 9;
        }

        .iframeClose{
            position: fixed;
            left: 5px;
            top: 5px;
            background: url(icon-previous.png) no-repeat center center;
            background-size: cover;
            width: 32px;
            height: 32px;
            display: none;
            z-index: 10;
            cursor: pointer;
            &.active{
                display: block;
            }
        }
        
        .iframeInfo{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50px;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;

            @include respond(mobile){
                height: 58px;
            }

            .ifiLeft{
                display: flex;
                padding-left: 10px;
                justify-content: space-between;
                align-items: center;
                .ifiGameImage{
                    width: 30px;
                    height: 30px;
                    overflow: hidden;
                    border-radius: 10px;
                    transition: all 0.34s ease;
                    position: relative;
                    background: #0279dc;
                    box-shadow: 0px 0px 4px 2px rgb(0 0 0 / 20%);
                    display: flex;
                }
                .ifiGameText{
                    display: flex;
                    padding-left: 5px;
                    font-size: 10px;
                    width: 300px;
                    @include respond(mobileWide){
                        width: 220px;
                    }
                }
            }
            .ifiRight{
                display: flex;
                justify-content: space-between;
                padding-right: 10px;
                padding-top: 4px;
                
                .ifiFullScreen{
                    display: flex;
                    margin-left: 20px;
                    cursor: pointer;
                    @include respond(mobileWide){
                        margin-left: 0;
                    }
                }
                .ifiSocial{
                    display: flex;
                    margin: 0 5px;
                    cursor: pointer;
                    @include respond(mobileWide){
                        display: none;
                    }
                }
            }
        }

        @include respond(desktop){
            iframe {
                width: 100%;
                height: auto;
            }
        }

        &.humoqCol-Iframe {
            @include gridRowCol(1, 8, 3, 15);
            @include respond(desktopWide){
                @include gridRowCol(1, 7, 2, 12);
            }
            @include respond(desktop){
                @include gridRowCol(1, 6, 1, 10);
            }

            @include respond(tablet){
                @include gridRowCol(1, 5, 1, 7);
            }

            @include respond(mobileWide){
                @include gridRowCol(2, 6, 1, 5);
            }

            @include respond(mobile){
                @include gridRowCol(2, 5, 1, 4);
            }

        }

        .mobilePlayButton{
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            align-items: center;
            background-size: cover;
            background-position: center;
            cursor: pointer;
            &.false{
                display: none;
            }
            @include respond(mobileWide){
                display: flex;
            }
            .bgOpacity{
                z-index: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-color: rgba(0, 0, 0, 0.4);
            }
            .mobilePlayIcon{
                z-index: 1;
                display: inline-block;
                width: 100%;
                text-align: center;
            }
            .mobilePlay{
                z-index: 1;
                display: inline-block;
                width: 100%;
                text-align: center;
                color: #fff;
                font-size: 18px;
            }
        }

    }

    .mobileSocial{
        display: none;
        @include respond(mobileWide){
            display: flex;
            justify-content: center;
            overflow: hidden;
            position: relative;
            justify-content: space-between;
            flex-wrap: wrap;
            @include gridRowCol(6, 7, 3, 5);
            @include respond(mobile){
                @include gridRowCol(5, 6, 2, 4);
            }
            .ifiHead{
                display: inline-block;
                width: 100%;
                color: #fff;
                font-size: 12px;
                text-align: center;
                padding-top: 12px;
            }
            .ifiSocial{
                display: flex;
                padding: 3px 3px 0 3px;
                svg path{
                    fill: #005ed0;
                }
            }
        }
    }


}

.gameDetails{
    margin-top: 40px;
    .container{
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        border-top-left-radius: 0;
    }
    h1{
        color: #005ed0;
        font-size: 24px;
        line-height: 200%;
        @include respond(mobileWide){
            font-size: 18px;
        }
    }
    p{
        font-size: 14px;
        color: #343434;
        line-height: 200%;
        @include respond(mobileWide){
            font-size: 12px;
        }
    }
}


.humoqBasicWrapper {
    display: inline-block;
    position: relative;
    width: 100%;

    .humoqColBasic {
        display: inline-block;
        position: relative;
        width: $gridWidth;
        height: $gridHeight;
        margin-right: $gridGap;
        margin-bottom: $gridGap;
        overflow: hidden;
        border-radius: 10px;
        transition: all 0.34s ease;
        position: relative;
        background: #0279dc;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.20);

        @include respond(mobileWide){
            width: 80px;
            height: 80px;
        }

        img {
            transition: all 0.34s ease;
            width: 100%;
            object-fit: cover;
        }

        .humoqText {
            color: #fff;
            font-size: 9px;
            line-height: 1.5;
            padding: 10px 5px;
            position: absolute;
            width: 100%;
            height: auto;
            bottom: -100px;
            z-index: 5;
            background: rgba(0, 0, 0, 0.5);
            transition: all 0.34s ease;

            @include respond(tablet){
                font-size: 7px;
                line-height: 1.2;
            }

        }

        &:hover {
            transform: scale(1.1);
            z-index: 2;

            img {
                transform: scale(1.1);
            }

            .humoqText {
                bottom: 0;
            }
        }
    }
}


// Drawer
.DrawerOverlay {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: #00000038;
    transition: all 0.34s ease-in-out;
}

.DrawerHolder {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 6;
    background-color: #007ae1;
    box-shadow: 0 10px 20px 0 #0000008a;
    width: 0;
    height: 100%;
    transition: all 0.10s ease-in-out;

    .drawerCloseIcon {
        width: 100%;
        display: none;
        justify-content: flex-end;
        margin-bottom: 15px;

        img {
            cursor: pointer;
        }

        @include respond(tablet){
            display: flex;
        }
    }

    &.DrawerHolderActive {
        width: 955px;
    }

    @include respond(tablet){
        &.DrawerHolderActive {
            width: 100%;
        }
    }

    &.DrawerHolderDeActive {
        width: 0;
        visibility: hidden;

        .footer {
            .footerImage {
                opacity: 0;
            }
        }
    }

    .DrawerRightContent {
        padding: 30px 100px;

        @include respond(tablet){
            padding: 30px;
        }
    }

    .DrawerContentHolder {
        position: relative;
        height: 100%;

        @include respond(mobileWide){
            overflow: auto;
        }
        

        .DrawerCloseHolder {
            position: absolute;
            left: -23px;
            top: 32px;
            cursor: pointer;
            background: url(right-icon.svg) #fff;
            padding: 30px;
            border-radius: 100%;
            width: 34.5px;
            height: 32.5px;
            background-position: center;
            background-repeat: no-repeat;

            @include respond(tablet){
                display: none;
            }
        }
    }


}


// Search Container
.footer {
    .footerImage {
        background-image: url(follow.png);
        height: 255px;
        width: 308px;
        position: absolute;
        bottom: 0;
        right: 0;
        transition: all 0.34s ease;
        opacity: 1;
    }

    @include respond(tablet){
        display: none;
    }
}

.dataContainer {
    margin-top: 67px;

    .dataTitle {
        color: #fff;
        font-size: 20px;
        margin: 50px 0 10px 0;
        @include respond(tablet){
            font-size: 16px;
        }
    }

    .dataHolder {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;

        .dataCard {
            width: 100px;
            height: 100px;
            border-radius: 10px;
            overflow: hidden;
            cursor: pointer;
            margin-right: 10px;
            margin-top: 10px;

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }

    &.jumpto {
        margin-top: 15px;

        a {
            text-decoration: none;
            color: #8ac9ff;

            li {
                display: inline-block;
                padding: 5px;
                margin: 0 5px 5px 0;
                border: solid 1px #8ac9ff;
                border-bottom-left-radius: 10px;
                border-top-left-radius: 10px;
                border-bottom-right-radius: 10px;
                transition: all 0.34s ease;

                @include respond(mobileWide){
                    font-size: 11px;
                }

                &:hover {
                    background-color: #fee043;
                    color: #00459c;
                }
            }
        }

        .dataTitle {
            margin-top: 10px;
            color: #8ac9ff;
        }
    }
}

.searchContainer {
    display: flex;
    position: relative;

    img {
        position: absolute;
        height: 30px;
        width: 30px;
        background-image: url(search.svg);
        background-size: 100%;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }

    .searchInput {
        width: 100%;
        height: 68px;
        font-size: 25px;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
        background-color: #fff;
        border: unset;
        outline: unset;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-left: 41px;


        &::placeholder {
            color: #90bcf4;
            font-size: 25px;
            vertical-align: middle;
        }
    }
}

.hide{
    display: none !important;
}